* {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', cursive;
}

body {
    background-image: url(fon1.jpg);
    background-repeat: repeat;
    background-size: contain;
    width: 100vw;
    min-height: 100vh;
}

header {
    background-color: #ffd1e0bd;
    width: 100%;
    height: 100px;
    margin-bottom: 25px;
    top: 0;
    position: relative;
}

#header-top {
    display: flex;
    align-items: center;
    padding: 10px;
}

#order {
    display: flex;
    flex-direction: column;
}

#order .section-table {
    order: 1;
}

#order .section-links {
    order: 2; 
}

#order .section-form {
    order: 3;
}

#order .section-cats {
    order: 4;
}

.list {
    padding-left: 35px;
    margin-top: auto;
}

#list-name {
    padding-left: 60px;
    padding-top: 20px;
}

#forma {
    width: 100%;
    margin: auto;
    background-color: #bb53a430;
    margin-top: 20px;
    margin-bottom: 20px;
}

.name {
    margin-top: 20px;
    margin: 10px;
    float: right;
    color: #000000;
    font-size: x-large;
    margin-left: 20px;
}

#logo {
    width: 100px;
    height: 100px;
    margin: 0px;
    float: left;
}

nav {
    margin-top: 35px;
    margin: 10;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ff97c152;
    display: flex;
    flex-direction: column;
}

.nav-link {
    padding-left: 30px;
    font-size: 25px;
    color: #000000;
    font-family: Courier New;
}

#tablic {
    margin: auto;
    width: 100%;
    background-color: #bb53a430;
    margin-top: 60px;
    margin-bottom: 25px;
    border: 1px solid #000000;
    color: #000000;
    text-align: right;
}

th {
    border: 1px solid #000000;
    padding-left: 20px;
    padding-right: 20px;
}

td {
    border: 1px solid #000000;
    padding-right: 20px;
    padding-left: 20px;
}

.chet {
    background: #f782d7b6;
}

.nechet {
    background: #ffffff;
}

.link {
    padding-left: 30px;
    font-size: 25px;
    color: #e2ebff;
    font-family: 'Century Gothic', cursive;
    display: flex;
}

footer {
    background-color: #bb53a430;
    width: 100%;
    height: 30px;
    padding: 10px 0;
    text-align: center;
}

.name2 {
    margin-left: 30px;
    margin-top: 15px;
    float: left;
    color: #000000;
}

.rounded-image {
    border-radius: 10px;
}

@media (min-width: 767px) {
    header {
        position: relative;
        background-color: #ffd1e0;
        width: 100%;
        height: 140px;
        float: left;
    }

    nav {
        z-index: 0;
        right: 0;
        top: 0;
        position: absolute;
        float: right;
        margin: 20px;
        margin-right: 250px;
        max-width: 960px;
        width: 40%;
        flex-direction: row;
        border-radius: 10px;
        background-color: #ff97c152;
    }

    #center {
        max-width: 960px;
        width: 100%;
        background-color: #bb53a430;
        margin-bottom: 25px;
        margin-top: 35px;
    }

    #tablic {
        margin: 10;
        max-width: 960px;
        width: 100%;
        margin: auto;
        background-color: #bb53a430;
        margin-top: 25px;
        margin-bottom: 25px;
        border: 1px solid grey;
        color: #000000;
        text-align: center;
    }

    #forma {
        max-width: 960px;
        width: 100%;
        margin: auto;
        background-color: #bb53a430;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #order {
        display: block;  
    }

    .name {
        margin-top: 30px;
        float: left;
        color: #000000;
        font-size: xx-large;
    }

    #logo {
        width: 100px;
        height: 100px;
        margin: 20px;
        float: left;
        margin-top: 10px;
    }

    .link {
        padding-left: 30px;
        font-size: 25px;
        color: #000000;
        font-family: 'Century Gothic', cursive;
    }

    .list {
        padding-left: 35px;
        margin-top: auto;
    }

    #header-top {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        padding: 10px;
        padding-bottom: 20px;
    }
}
